In [ ]:
# 데이터 불러오기
import pandas as pd
csv_test = pd.read_csv('/content/인구십만명당_자살률_시도_시_군_구__20230502163518.csv',encoding='cp949')

In [ ]:
# 행렬 개수확인
csv_test.shape

(54, 5)

In [ ]:
# 데이터 확인
csv_test

       시군구별 성별  2021  2020  2019
0        전국  계  26.0  25.7  26.9
1        전국  남  35.9  35.5  38.0
2        전국  여  16.2  15.9  15.8
3     서울특별시  계  22.6  22.7  22.5
4     서울특별시  남  30.5  30.3  30.8
5     서울특별시  여  15.0  15.4  14.5
6     부산광역시  계  27.7  27.4  30.1
7     부산광역시  남  37.9  38.8  43.1
8     부산광역시  여  17.9  16.4  17.6
9     대구광역시  계  26.3  26.1  28.7
10    대구광역시  남  38.2  35.8  41.2
11    대구광역시  여  14.7  16.6  16.5
12    인천광역시  계  25.9  26.5  25.9
13    인천광역시  남  34.5  37.0  37.7
14    인천광역시  여  17.3  15.9  14.1
15    광주광역시  계  26.4  22.6  23.9
16    광주광역시  남  38.0  31.1  33.9
17    광주광역시  여  15.1  14.2  14.1
18    대전광역시  계  29.3  27.2  28.7
19    대전광역시  남  39.8  37.9  41.9
20    대전광역시  여  18.8  16.5  15.6
21    울산광역시  계  28.5  26.4  28.2
22    울산광역시  남  40.7  36.7  41.5
23    울산광역시  여  15.5  15.6  14.2
24  세종특별자치시  계  19.0  18.4  22.4
25  세종특별자치시  남  24.3  18.5  26.4
26  세종특별자치시  여  13.8  18.4  18.4
27      경기도  계  23.6  23.7  25.4
28      경기도  남  31.3  32.3  34.2
29      경기도  여  15.7  14.9  16.4
30      강원도  계  32.7  33.2  33.3
31      강원도  남  45.4  45.6  49.5
32      강원도  여  19.9  20.7  16.9
33     충청북도  계  31.8  27.1  31.1
34     충청북도  남  44.5  38.5  46.0
35     충청북도  여  18.7  15.4  15.9
36     충청남도  계  32.2  34.7  35.2
37     충청남도  남  45.0  47.9  50.6
38     충청남도  여  18.8  21.0  19.2
39     전라북도  계  28.5  27.8  30.2
40     전라북도  남  42.5  41.7  43.9
41     전라북도  여  14.6  14.0  16.6
42     전라남도  계  30.2  28.5  25.4
43     전라남도  남  42.7  41.3  39.4
44     전라남도  여  17.6  15.6  11.3
45     경상북도  계  29.0  28.6  29.4
46     경상북도  남  40.8  37.8  41.6
47     경상북도  여  17.1  19.3  17.1
48     경상남도  계  26.3  25.3  28.0
49     경상남도  남  37.6  36.3  39.8
50     경상남도  여  14.9  14.3  16.1
51      제주도  계  26.1  30.0  31.7
52      제주도  남  41.0  42.6  47.6
53      제주도  여  11.1  17.2  15.5

In [ ]:
# 필요없는 열 삭제
csv_test = csv_test.drop(csv_test.columns[3],axis = 1)
csv_test = csv_test.drop(csv_test.columns[3],axis = 1)
csv_test = csv_test.drop(csv_test.columns[1],axis = 1)

In [ ]:
# 필요없는 행 삭제
csv_test = csv_test.drop([1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29,31,32,34,35,37,38,40,41,43,44,46,47,49,50,52,53])

In [ ]:
# 최종 결과
csv_test.sort_values(by='2021',ascending=False)

       시군구별  2021
30      강원도  32.7
36     충청남도  32.2
33     충청북도  31.8
42     전라남도  30.2
18    대전광역시  29.3
45     경상북도  29.0
39     전라북도  28.5
21    울산광역시  28.5
6     부산광역시  27.7
15    광주광역시  26.4
9     대구광역시  26.3
48     경상남도  26.3
51      제주도  26.1
0        전국  26.0
12    인천광역시  25.9
27      경기도  23.6
3     서울특별시  22.6
24  세종특별자치시  19.0